{{ define "template" }}collection/section.html{{ end }}

{{ define "content" }}
  <dt>Sub-Collections</dt>
  {{- range .Sections }}
    <dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
  {{- else }}
    <dd>none</dd>
  {{- end }}

  <dt>Products</dt>
  {{- range where .Site.Pages ".Params.collections" "intersect" ( slice ( .File.Path | strings.TrimPrefix ( printf "%s/" .Type ) | strings.TrimSuffix "/_index.md" ) ) }}
    <dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
  {{- else }}
    <dd>none</dd>
  {{- end }}

  <dt>Nested Products</dt>
  {{- template "_nested_sections_slice" ( dict "Scratch" .Scratch "Section" . ) }}
  {{- range where .Site.Pages ".Params.collections" "intersect" ( $.Scratch.Get "nested_sections_slice" ) }}
    <dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
  {{- else }}
    <dd>none</dd>
  {{- end }}
{{ end }}
