{{ define "nav" }}
	{{ partial "sidebar/nav-parent" . }}
	<dpb587-toc button-class="md:px-1 py-0.5 md:py-0" for="article"></dpb587-toc>
	{{ partial "sidebar/nav-code" . }}
{{ end }}

{{ define "main" }}
	{{ $navSlug := ( strings.TrimSuffix "/" ( strings.TrimPrefix "/topics/" .RelPermalink ) ) }}

	<div class="relative z-0 w-full h-full">
		<main>
			{{ partial "entry/header" . }}
			<div id="article" class="bg-stone-50 pb-8 space-y-8 ">
				{{ partial "prose/render" ( dict 
					"content" .Content
					"classColumn" "max-w-4xl mx-auto space-y-8"
					"classColumnWide" "max-w-6xl mx-auto space-y-8"
					"classColumnNarrow" "max-w-2xl mx-auto space-y-8"
					"classGutter" "px-4"
				) }}
				{{ $subcat := false }}
				{{ if eq .Type "topic" }}
					{{ if .Params.topicType.features }}
						{{ range $feature := .Params.topicType.features }}
							{{ if eq $feature.kind "github-repository" }}
								{{ $subcat = true }}
								<section class="max-w-4xl mx-auto px-2">
									<header class="flex items-center gap-2">
										<div class="text-xs uppercase font-semibold">Code Repository</div>
										<div class="grow relative h-px bg-neutral-300"></div>
									</header>
									<div class="px-2 pt-2">
										<a href="{{ $feature.params.url }}" class="underline hover:text-sky-800" target="_blank">{{ $feature.params.url }}</a>
									</div>
								</section>
							{{ else if eq $feature.kind "website" }}
								{{ $subcat = true }}
								<section class="max-w-4xl mx-auto px-2">
									<header class="flex items-center gap-2">
										<div class="text-xs uppercase font-semibold">Website</div>
										<div class="grow relative h-px bg-neutral-300"></div>
									</header>
									<div class="px-2 pt-2">
										<a href="{{ $feature.params.url }}" class="underline hover:text-sky-800" target="_blank">{{ $feature.params.url }}</a>
									</div>
								</section>
							{{ else if eq $feature.kind "journal" }}
								{{ $subcat = true }}
								{{ $journalPage := site.GetPage ( printf "/topic/%s" $feature.params.ref ) }}

								<section class="max-w-4xl mx-auto px-2">
									<header class="flex items-center gap-2">
										<div class="text-xs uppercase font-semibold">{{ $journalPage.LinkTitle }}</div>
										<div class="grow relative h-px bg-neutral-300"></div>
									</header>
									<div>
										<div class="prose max-w-none font-serif p-2 mb-0.5">
											<p>Here are the most recent journal entries (or you can <a href="{{ $journalPage.RelPermalink }}">view all</a>).</p>
										</div>
										{{ with first 3 ( where ( where site.Pages "Type" "in" ( slice "post" ) ) ( printf "Params.topics.%s" $feature.params.ref ) "ne" nil ) }}
											{{ partial "entry/list" ( dict
												"Pages" .
											)}}
										{{ end }}
									</div>
								</section>
							{{ else }}
								{{ errorf "unknown feature kind: %s" $feature.kind }}
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}
				{{ $nested := ( collections.Union
					( collections.Union
						.Sections
						( where .Pages "Type" "like" "^topic($|\\-)" )
					)
					( where site.Pages ( printf "Params.topics.%s.rel" $navSlug ) "eq" "parent" )
				).GroupBy "Type" }}
				{{ if $nested }}
					{{ $topicNames := dict
						"topic-place-admin1" "Countries"
						"topic-place-admin2" "Areas"
						"topic-place-park" "Parks"
						"topic" "Topics"
					}}
					{{ range $nested }}
						{{ $subcat = true }}
						<section class="max-w-4xl mx-auto px-2">
							<header class="flex items-center gap-2">
								<div class="text-xs uppercase font-semibold">Related {{ index $topicNames .Key }}</div>
								<div class="grow relative h-px bg-neutral-300"></div>
							</header>
							<div class="px-2 pt-2 font-serif">
								<ul class="list-disc ml-4">
									{{ range $k, $_ := .Pages -}}
										<li><a class="underline hover:text-sky-800" href="{{ strings.TrimSuffix `/` .RelPermalink }}">{{ .Title }}</a></li>
									{{- end }}
								</ul>
							</div>
						</section>
					{{ end }}
				{{ end }}
				{{ partial "content-footer" . }}
				{{ if gt ( len $navSlug ) 0 }}
				    {{ $pages := ( where ( where site.Pages "Type" "in" ( slice "article" "post" "story" ) ) ( printf "Params.topics.%s" $navSlug ) "ne" nil ) }}
					{{ if gt ( len $pages ) 0 }}
						{{ if $subcat }}
							<section class="max-w-4xl mx-auto px-2">
								<header class="flex items-center gap-2">
									<div class="text-xs uppercase font-semibold">Everything Else</div>
									<div class="grow relative h-px bg-neutral-300"></div>
								</header>
								<div class="pt-3 space-y-4">
									{{ partial "entry/list-groups" ( dict
										"Page" .
										"Groups" ( $pages.GroupByDate "2006" )
									) }}
								</div>
							</section>
						{{ else }}
							{{ partial "entry/list-groups" ( dict
								"Page" .
								"Groups" ( $pages.GroupByDate "2006" )
							) }}
						{{ end }}
					{{ end }}
				{{ end }}
				{{ partial "comments" . }}
			</div>
		</main>
	</div>
{{ end }}

{{ define "alternate-links" }}
	<link rel="alternate" type="text/markdown" href="/~/export/text-content?uri={{ strings.TrimSuffix `/` .RelPermalink | urlquery }}&format=markdown" />
{{ end }}

{{ define "structured-data" }}
	{{ partial "structured-data" . }}
{{ end }}

{{ define "twitter-data" }}
	{{ partial "twitter-data" . }}
{{ end }}
