{{ define "main"}}
  <div itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    {{ partial "hero" . }}
    <div class="container">
      <section class="section blog">
        {{ with .Content }}
          <div class="content blog-post" itemprop="articleBody">
            {{ . }}
          </div>
        {{ end }}
        <div class="section">
          <div class="box">
            {{ partial "properties/all" . }}
          </div>
        </div>
        {{ partial "comments" . }}
      </section>
    </div>
  </div>
{{ end }}
