{{ define "main"}}
  {{ .Render "single-microdata" }}
  <div>
    {{ $heroImg := default "https://s3.dualstack.us-east-1.amazonaws.com/dpb587-website-us-east-1/asset/gallery/2014-colorado-aspens/9e9e818-valley-of-aspens~1280.jpg" .Params.hero_img }}
    <img class="object-cover h-32 w-full" src="{{ $heroImg }}">
  </div>
  <div class="p-3 md:p-6 border-b border-gray-200">
    <div class="text-2xl md:text-3xl">{{ .Title }}</div>
    <div class="text-gray-600">
      <span class="pr-3">
        <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>
        {{ dateFormat "January 2, 2006" .Date }}
      </span>
    </div>
  </div>
  {{ with .Content }}
    <div class="p-3 md:p-6">
      <div class="prose">
        {{ . }}
      </div>
    </div>
  {{ end }}
  <div class="flex border-b border-t border-gray-300 text-gray-600">
    <div class="w-1/2">
      {{ with .NextInSection }}
        <a class="block p-4 transition duration-200 hover:bg-gray-100 hover:text-black" href="{{ .Permalink }}">
          <i class="fa fa-angle-double-left mr-1" aria-hidden="true"></i>
          {{ .Title }}
        </a>
      {{ end }}
    </div>
    <div class="w-1/2">
      {{ with .PrevInSection }}
        <a class="block p-4 transition duration-200 hover:bg-gray-100 hover:text-black text-right" href="{{ .Permalink }}">
          {{ .Title }}
          <i class="fa fa-angle-double-right ml-1" aria-hidden="true"></i>
        </a>
      {{ end }}
    </div>
  </div>
  {{ if ne .Params.disqus false }}
    {{ partial "disqus.html" . }}
  {{ end }}
{{ end }}