<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "BlogPosting",
    "author": {
      "@type": "Person",
      "url": {{ .Site.BaseURL }}
    },
    "copyrightHolder": {
      "@type": "Person",
      "url": {{ .Site.BaseURL }}
    },
    "copyrightYear": {{ .Date.Format "2006" }},
    "dateModified": {{ .Lastmod }},
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},
    "headline": {{ .Title }},
    "keywords": "{{ range $idx, $v := .Params.tags }}{{ if gt 0 $idx }}, {{ end }}{{ $v }}{{ end }}",
    "name": {{ .Title }},
    "publisher": {
      "@type": "Person",
      "url": {{ .Site.BaseURL }}
    },
    "text": {{ .RawContent }},
    "wordCount": {{ .WordCount }},
    "url": {{ .Permalink }}
  }
</script>
