body {
    color: #333333;
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin: 2px 10px 10px 44px;
}

body > header, article > section {
    border-bottom: #F0F0F0 solid 1px;
    border-left: #E9E9E9 solid 1px;
    margin-bottom: 2px;
    padding: 24px 34px 18px 34px;
    position: relative;
    width: 640px;
}

body > footer {
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    padding: 36px 6px 28px 36px;
    position: relative;
    width: 668px;
}

    body > footer a {
        color: #999999;
    }

    body > footer:hover {
        color: #666666;
    }

        body > footer:hover a {
            color: #666666;
        }

body > header {
    padding-right: 20px;
    width: 654px;
}

body > header .meta {
    margin-bottom: 0;
    margin-top: 0;
}

header ul {
    float: right;
    list-style: none;
    margin: 7px 0 0;
}

header ul li {
    display: inline-block;
}

header ul li a {
    border-radius: 2px;
    color: #CF5406;
    display: block;
    margin-left: 6px;
    padding: 1px 5px 2px 5px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #CF5406;
    color: #FFFFFF;
}

.meta {
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    padding-left: 1px;
    margin-bottom: 12px;
    margin-top: 24px;
}

    .meta a {
        text-decoration: none;
    }

    .meta a:hover {
        text-decoration: underline;
    }

a {
    color: #CF5406;
}

small {
    color: #666666;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 4px 0 0;
}

    h1 strong {
        font-weight: 700;
    }

        h1 strong a {
            color: inherit;
            text-decoration: none;
        }

    h1 small {
        color: #999999;
    }

h2 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 1px 0;
}

h3 {
    border-bottom: #DEDEDE solid 1px;
    color: #393939;
    font-size: 17px;
    margin: 32px -4px 10px;
    padding: 0 4px 2px;
}

h4 {
    border-bottom: #DEDEDE dotted 1px;
    font-size: 14px;
    margin: 22px -4px 10px;
    padding: 0 4px;
}

hr {
    margin: 0 -2px;
}

article > section .timeline {
    margin-top: 4px;
}

section .timeline > * {
    display: block;
    opacity: 0.6;
    line-height: 0;
    margin-bottom: 4px;
}

    section.layout-post .timeline > *,
    section:hover .timeline > * {
        opacity: 1;
    }

section.layout-post {
    padding-bottom: 12px;
}

.timeline {
    background-color: #FFFFFF;
    font-size: 11px;
    line-height: 0;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    left: -24px;
    width: 49px;
}

    .timeline img {
        border-radius: 4px;
        width: 49px;
    }

    .timeline time {
        line-height: 11px;
    }

pre {
    background-color: #F9F9F9;
    border: #D8D8D8 solid 1px;
    font-family: monaco;
    font-size: 12px;
    line-height: 17px;
    margin: 14px -2px 24px;
    overflow: auto;
    padding: 2px 4px;
}

pre > code {
    font-size: inherit;
    line-height: inherit;
}

code {
    font-family: monaco;
    font-size: 13px;
    line-height: 0;
}

p, ul, ol, dl {
    line-height: 24px;
    margin: 12px 0;
}

dl dt {
    clear: left;
    color: #666666;
    float: left;
    padding-top: 2px;
    text-align: right;
    width: 140px;
}

dl dd {
    margin-left: 0;
    padding: 2px 0 0 146px;
}

.meta-social {
    border-top: #F0F0F0 solid 1px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 32px 6px 0;
}

.disqus {
    border-top: #F0F0F0 solid 1px;
    margin: 28px -8px 0;
    padding: 27px 8px 0;
}

section.layout-post .meta.meta-social {
    display: none;
}

section.layout-post section img {
    background-color: #F3F3F3;
    border: #D8D8D8 solid 1px;
    border-radius: 1px;
    padding: 4px;
}
