{{ define "mainEntity" }}
  {{ render ( getFirst .mainEntity "mainEntity" ) "mainEntity" }}

  <div class="container">
    <section class="section" style="padding-bottom:0;padding-top:0;">
      <h2 class="title">Latest posts&hellip;</h2>
    </section>

    {{ render ( getFirst .mainEntity "latestPosts" ) "mainEntity.list" }}
  </div>
{{ end }}
