{{ $otherTopics := slice }}
{{ $relTopics := slice }}
{{ range $k, $_ := .Params.topics }}
  {{ $topic := site.GetPage ( printf "topic/%s" $k ) }}
  {{ if $topic }}
    {{ if eq $topic.Layout "journal" }}
        {{ $relTopics = $relTopics | append $topic }}
    {{ else }}
        {{ $otherTopics = $otherTopics | append $topic }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if or ( gt ( len $relTopics) 0 ) ( gt ( len $otherTopics ) 0 ) }}
    <section id="related" class="max-w-4xl mx-auto space-y-8">
        {{ if gt ( len $relTopics) 0 }}
            {{ range $topic := $relTopics }}
                <section class="max-w-4xl mx-auto">
                    <header class="flex items-center gap-2 pl-2">
                        <div class="text-xs uppercase font-semibold"><a class="hover:underline hover:text-sky-800" href="{{ $topic.RelPermalink }}">{{ $topic.Title }}</a></div>
                        <div class="grow relative h-px bg-neutral-300"></div>
                    </header>
                    <ul class="font-serif -mt-1.5 border-b border-stone-200 divide-y divide-stone-200">
                        {{ $topicPages := where site.Pages ( printf "Params.topics.%s" ( strings.TrimSuffix "/" ( strings.TrimPrefix "/topics/" .RelPermalink ) ) ) "ne" nil }}
                        {{ $prev := ( where $topicPages "Date" "lt" $.Date ).ByDate | last 1 }}
                        {{ $next := ( where $topicPages "Date" "gt" $.Date ).ByDate | first 1 }}
                        {{ if gt ( len $next ) 0 }}
                            {{ partial "entry/listitem" ( dict
                                "Page" ( index $next 0 )
                                "Marker" "next"
                            ) }}
                        {{ end }}
                        {{ if gt ( len $prev ) 0 }}
                            {{ partial "entry/listitem" ( dict
                                "Page" ( index $prev 0 )
                                "Marker" "prev"
                            ) }}
                        {{ end }}
                    </ul>
                </section>
            {{ end }}
        {{ end }}
        {{ if gt ( len $otherTopics ) 0 }}
            <section class="max-w-4xl mx-auto px-2">
                <header class="flex items-center gap-2">
                    <div class="text-xs uppercase font-semibold">Related Topics</div>
                    <div class="grow relative h-px bg-neutral-300"></div>
                </header>
                <div class="font-serif text-sm">
                    <div class="flex gap-1.5 py-2">
                        <div class="pt-0.5">{{ partial "heroicons/inline" ( dict "icon" "16/solid/tag" "attrs" `class="size-4 text-neutral-400"` ) }}</div>
                        <div class="font-medium">
                            {{ range $i, $topic := $otherTopics }}
                                {{ if gt $i 0 }}<span>&middot;</span>{{ end }}
                                <a href="{{ $topic.RelPermalink }}" class="underline hover:text-sky-800">{{ $topic.Title }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </section>
        {{ end }}
    </section>
{{ end }}

