{{ $twitterCard := "summary" }}
{{ $ogType := "website" }}

<meta name="twitter:creator" content="@dpb587" />
<meta property="og:url" content="{{ strings.TrimSuffix `/` .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
{{ with .Params.description -}}
  <meta property="og:description" content="{{ . }}" />
{{ end -}}

{{- if .Params.hero.ref -}}
	{{- range ( .GetPage .Params.hero.ref ).Params.mediaType.thumbnails -}}
    {{- if or ( ge .width 720 ) ( ge .height 720 ) -}}
      {{- $twitterCard = "summary_large_image" }}

      <meta property="og:image" content="{{ .url }}" />
      <meta property="og:image:width" content="{{ .width }}" />
      <meta property="og:image:height" content="{{ .height }}" />
      {{ break -}}
    {{- end -}}
  {{- end }}
{{- end -}}

{{- if eq .Type "post" -}}
  {{- $ogType = "article" -}}

  <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- if ne .Lastmod .PublishDate }}
    <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
  {{- end -}}

  {{- if and ( ne . .CurrentSection ) .CurrentSection .CurrentSection.RelPermalink }}
    <meta property="article:section" content="{{ .CurrentSection.Title }}" />
  {{- else if and .Parent.RelPermalink ( ne .Parent.RelPermalink "/" ) ( ne .Parent.RelPermalink .RelPermalink ) }}
    <meta property="article:section" content="{{ .Parent.Title }}" />
  {{- end -}}
{{- else if eq .Type "media" -}}
  {{- range .Params.mediaType.thumbnails -}}
    {{- if or ( ge .width 720 ) ( ge .height 720 ) -}}
      {{- $twitterCard = "summary_large_image" }}

      <meta property="og:image" content="{{ .url }}" />
      <meta property="og:image:width" content="{{ .width }}" />
      <meta property="og:image:height" content="{{ .height }}" />
      {{ break -}}
    {{- end -}}
  {{- end }}
{{- end }}

<meta name="twitter:card" content="{{ $twitterCard }}" />
<meta property="og:type" content="{{ $ogType }}" />
