{{ define "title" }}Tweet &quot;{{ trim .RawContent "\n" | truncate 48 }}&quot;{{ end }}

{{ define "main" }}
  <div>
    {{ $heroImg := "https://dpb587-website-us-east-1.s3.amazonaws.com/asset/gallery/2014-colorado-aspens/9e9e818-valley-of-aspens~1280.jpg" }}
    {{ with index ( default ( slice ) .Params.api_1_1.extendedentities.media ) 0 }}
      {{ $heroImg = .mediaurlhttps }}
    {{ end }}
    <img class="object-cover h-32 w-full" src="{{ partial "imgpro.html" ( dict "." $ "src" $heroImg "op" "crop" "width" "1280" "height" "256" ) }}">
  </div>

  <div class="external" style="margin:10px">
    <blockquote class="twitter-tweet tw-align-center md:w-1/2 mx-auto" data-dnt="true" data-theme="light">
      <p lang="pt" dir="ltr">{{ .Content }}</p>
      &mdash; {{ .Params.api_1_1.user.name }} (@{{ .Params.api_1_1.user.screenname }})
      <a href="https://twitter.com/{{ .Params.api_1_1.user.screenname }}/status/{{ .Params.api_1_1.idstr }}?ref_src=twsrc%5Etfw">{{ .Date | dateFormat "January 2, 2006" }}</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="flex border-b border-t border-gray-300 text-gray-600" style=>
    <div class="w-1/2">
      {{ with .NextInSection }}
        <a class="block p-4 transition duration-200 hover:bg-gray-100 hover:text-black" href="{{ .Permalink }}">
          <i class="fa fa-angle-double-left mr-1" aria-hidden="true"></i>
          Later Tweet
        </a>
      {{ end }}
    </div>
    <div class="w-1/2">
      {{ with .PrevInSection }}
        <a class="block p-4 transition duration-200 hover:bg-gray-100 hover:text-black text-right" href="{{ .Permalink }}">
          Earlier
          <i class="fa fa-angle-double-right ml-1" aria-hidden="true"></i>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
