<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
        <title>{% if page.title != "Home" %}{{ page.title }} &ndash; {% endif %}Danny Berger</title>
    
        <link rel="icon" type="image/png" href="http://www.gravatar.com/avatar/5544fe6a05400da5a8957ff29dd6718c.png?s=128" />
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="/include/site/screen.css" rel="stylesheet" type="text/css" />
        <link href="/include/site/pygments.css" rel="stylesheet" type="text/css" />
        <link href="/blog/atom.xml" type="application/atom+xml" rel="alternate" title="Danny Berger (blog)" />

        <meta name="twitter:site" content="dpb587" />
        <meta name="twitter:creator" content="dpb587" />

        {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
            <meta property="og:description" content="{{ page.description }}" />
        {% endif %}

        <link rel="canonical" content="{{ page.url }}" />
        <meta property="og:title" content="{% if page.title == 'Home' %}Danny Berger{% else %}{{ page.title }}{% endif %}" />
        <meta property="og:url" content="{{ page.url }}?utm_campaign=ref&utm_medium=def&utm_source=opengraph" />
        <meta name="twitter:url" content="{{ page.url }}?utm_campaign=ref&utm_medium=def&utm_source=twitter" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37464314-1']);
            _gaq.push(['_trackPageview']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <header>
            <div class="timeline">
                <a href="/"><img alt="DPB" src="http://www.gravatar.com/avatar/5544fe6a05400da5a8957ff29dd6718c.png?s=128" /></a>
            </div>
            <ul>
                <li><a href="/blog/">blog</a></li>
                <li><a href="/projects.html">projects</a></li>
                <li><a href="/about.html">about</a></li>
            </ul>
            <h1>
                <strong><a href="/">Danny Berger</a></strong>
            </h1>
            <div class="meta">
                <a href="http://dpb587.me/" style="color:inherit;">dpb587</a>
                &middot;
                <a href="https://github.com/dpb587">github</a>
                &middot;
                <a href="http://www.linkedin.com/in/dpb587">linkedin</a>
                <span style="display:none;">
                    &middot;
                    <a href="https://plus.google.com/101881290181099762326?rel=author">google+</a>
                </span>
                &middot;
                <a href="mailto:dpb587@gmail.com">email</a>
            </div>
        </header>
        <article>
