{{ define "stylesheet" }}
  <link rel="stylesheet" href="/css/printer.css" media="print">
{{ end }}

{{ define "main" }}
  <header>
    <div>
      <img class="object-cover h-32 w-full" src="/images/content-header-speaking-20190911a.jpg">
    </div>
    <div class="p-3 md:p-6 border-b border-gray-200">
      <div class="float-right pt-1 px-1">
        <button class="bg-white hover:bg-red-600 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-200 hover:border-transparent rounded">
          <span class="mr-2"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
          <span>PDF</span>
        </button>      
      </div>
      <div class="text-2xl md:text-3xl">Résumé</div>
      <div class="text-gray-600">
        To intrigue those with technical challenges.
      </div>
    </div>
  </header>

  <div class="p-1 md:p-4 bg-gray-100">
    <div class="flex p-3">
      <div class="flex-none">
        <img class="h-16 w-16 rounded transition-all duration-200 filter-grayscale hover:filter-none" src="/images/dpb587-20140313a~256.jpg">
      </div>
      <div class="flex-grow text-3xl pt-3 pl-5">Danny Berger</div>
      <div class="flex-none text-right text-sm text-gray-600">
        <a class="block">
          Oakland, California
          <i class="fa fa-map-marker fa-fw pl-1" aria-hidden="true"></i>
        </a>
        <a class="block" href="mailto:dpb587@gmail.com">
          dpb587@gmail.com
          <i class="fa fa-envelope fa-fw pl-1" aria-hidden="true"></i>
        </a>
        <a class="block" href="https://dpb587.me/">
          dpb587.me
          <i class="fa fa-external-link-square fa-fw pl-1" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="flex bg-gray-200 border-t border-b border-gray-300 text-center text-gray-700">
    <div class="flex-grow">
      <a class="inline-block px-2 py-1" href="https://www.linkedin.com/in/dpb587/">
        <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
        dpb587
      </a>
    </div>
    <div class="flex-grow">
      <a class="inline-block px-2 py-1" href="https://github.com/dpb587">
        <i class="fa fa-github fa-fw" aria-hidden="true"></i>
        dpb587
      </a>
    </div>
    <div class="flex-grow">
      <a class="inline-block px-2 py-1" href="skype:dpb587">
        <i class="fa fa-skype fa-fw" aria-hidden="true"></i>
        dpb587
      </a>
    </div>
    <div class="flex-grow">
      <a class="inline-block px-2 py-1" href="https://github.com/dpb587">
        <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
        dpb587
      </a>
    </div>
  </div>
  
  <div class="prose p-3 md:p-6">
    <p>
      I enjoy <em>building technology</em> to improve <em>business processes</em> as a <em>software engineer</em>.
      I build on industry <em>best practices</em>, but I use my <em>detail-oriented</em> and <em>quick-learning</em> nature to better understand how they can be <em>adapted and improved</em> for local needs.
      I bring my experiences as a <em>developer</em>, <em>operator</em>, and <em>user</em> to provide a more <em>holistic perspective</em> on solution discussions.
      I feel most effective when I can <em>apply myself</em> to evolving those solutions into something that will <em>help others</em> be more effective.
    </p>
    <p>
      I look for <em>technical opportunities</em> that require me to <em>learn and improve</em> myself through <em>complex problems</em> and <em>new perspectives</em>.
      I want to work with teams that <em>respect open source</em> and appreciate <em>open collaboration</em> as a method to build <em>effective products</em>.
    </p>
  </div>

  <section>
    <div class="px-3 md:px-6 py-3 border-b border-gray-200">
      <div class="text-2xl">Employment</div>
    </div>
    <div class="px-2 md:px-5 py-3">
      <div class="flex">
        <div class="flex-none px-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-pivotal~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">November '15 &ndash; present</span>
              <span class="text-black">Pivotal Software, Inc.</span>
            </div>
            <div>
              <span class="font-semibold">Staff Software Engineer</span>
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Work on discovery-focused initiatives to identify investment opportunities in Kubernetes Cluster API and tooling to help internal development teams.</li>
                <li>Support teams implementing several, personally-created projects into their operations and workflows.</li>
                <li>Team Lead ("anchor") on BOSH, working closely with Product Managers to guide technical features and facilitate collaboration with internal and external teams.</li>
                <li>Engineer on BOSH, a large Ruby- and Go-based, deployment lifecycle product, and using a variety of infrastructures (namely Amazon Web Services, Google, and vSphere).</li>
                <li>Help bootstrap and train a new Cloud Operations team as part of a 3-month relocation to Dublin, Ireland.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex pt-2 mt-2 border-t border-gray-200">
        <div class="flex-none px-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-theloopyewe~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">June '06 &ndash; present</span>
              <span class="text-black">The Loopy Ewe</span>
            </div>
            <div>
              <span class="font-semibold">Software Systems Engineer</span class="font-semibold">
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Developed and currently maintain in-house e-commerce frontend and backoffice tools using primarily PHP and MySQL</li>
                <li>Migrated the backend website and services to the open-source symfony2 framework</li>
                <li>Integrated business tools with APIs including PayPal and Endicia</li>
                <li>Advising on strategic goals for the business and assisting in implementation</li>
                <li>Migrating from traditional servers to a multi-region cloud environment on AWS</li>
                <li>Migrating from Puppet-managed servers to a BOSH-managed environment</li>
                <li>Currently maintain production server environments and services</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex pt-2 mt-2 border-t border-gray-200">
        <div class="flex-none px-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-cityindex~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">August '13 &ndash; August '15</span>
              <span class="text-black">City Index Ltd, Labs Team</span>
            </div>
            <div>
              <span class="font-semibold">Software Developer</span class="font-semibold">
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Implemented and managed scalable logstash + elasticsearch + kibana stacks on AWS</li>
                <li>Researched and tested elasticsearch scaling for project needs</li>
                <li>Creating and managing BOSH releases for logsearch</li>
                <li>Creating logsearch-shipper, designed for log forwarding and monitoring of any other BOSH deployments</li>
                <li>Designing and supporting VPC environments on AWS</li>
                <li>Defining and implementing logging and monitoring practices for deployments</li>
                <li>Worked remotely</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex pt-2 mt-2 border-t border-gray-200">
        <div class="flex-none px-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-sentryds~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">July '09 &ndash; October '12</span>
              <span class="text-black">Sentry Data Sytems</span>
            </div>
            <div>
              <span class="font-semibold">Software Developer</span class="font-semibold">
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Guided the adoption of and migration to the open-source symfony2 framework from an internal framework for main customer SaaS web application</li>
                <li>Implemented development tools and standards including opengrok, composer, and PSR conventions</li>
                <li>Advised and taught on software design, industry practices, and development workflows</li>
                <li>Created automated systems for detecting data quality issues in client data feeds, significantly reducing manual work</li>
                <li>Created custom issue tracking system to support existing Oracle-based applications, email ticketing, workflows, and time estimations</li>
                <li>Worked locally for 18 months and remotely for 22 months</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex pt-2 mt-2 border-t border-gray-200 hidden">
        <div class="flex-none p-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-tayloru~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">February '06 &ndash; October '08</span>
              <span class="text-black">CSE Department, Taylor University</span>
            </div>
            <div>
              <span class="font-semibold">Student System Administrator</span class="font-semibold">
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Created web-based applications to aid in department processes for faculty and students</li>
                <li>Maintained and provided support for the Computer Science department lab computers and servers (Linux, Windows)</li>
                <li>Acted as contributing editor and webmaster for the department's public website</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex pt-2 mt-2 border-t border-gray-200 hidden">
        <div class="flex-none p-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-cpcstl~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">March '03 &ndash; August '07</span>
              <span class="text-black">The Covenant Presbyterian Church</span>
            </div>
            <div>
              <span class="font-semibold">Network Administrator</span class="font-semibold">
            </div>
          </div>
          <div>
            <div class="prose">
              <ul>
                <li>Created, maintained, and hosted their website CMS during employment and until 2010</li>
                <li>Provided technical support (on-site, phone, and email) to ministry staff</li>
                <li>Managed Microsoft Windows and Exchange servers, internal ministry applications, and other productivity software</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="px-3 md:px-6 py-3 mt-6 border-b border-gray-200">
      <div class="text-2xl">Education</div>
    </div>
    <div class="px-2 md:px-5 py-3">
      <div class="flex pb-2 mb-2">
        <div class="flex-none p-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-tayloru~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">August '05 &ndash; May '09</span>
              <span class="text-black">Taylor University</span>
            </div>
            <div>
              <span class="font-semibold">Bachelor of Science</span class="font-semibold">
              &mdash; Computer Science, Systems (Business Information Systems)
            </div>
          </div>
        </div>
      </div>
      <div class="flex pt-2 mt-2 border-t border-gray-200 hidden">
        <div class="flex-none p-1">
          <img class="w-16 h-16 object-cover transition-all duration-200 filter-grayscale hover:filter-none" src="/images/org-wcastl~256.jpg">
        </div>
        <div class="flex-grow p-2">
          <div class="mb-3">
            <div>
              <span class="float-right text-gray-600 whitespace-no-wrap">August '01 &ndash; May '05</span>
              <span class="text-black font-semibold">Westminster Christian Academy</span>
            </div>
            <div>
              <span>High School</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hidden">
    <div class="px-3 md:px-6 py-3 border-b border-gray-200">
      <div class="text-2xl">References</div>
    </div>
    <div class="prose p-6">
      <p>
        Available &mdash; <em>please get in touch with me for contact information of my colleagues and managers</em>.
      </p>
    </div>
  </section>
{{ end }}
