{{ define "prefetch" }}
  {{ with .PrevInSection }}
    {{ $gallery := index ( split .Dir "/" ) 1 }}
    {{ $baseAssetUrl := printf "%s%s/%s" .Site.Params.assetUrl $gallery .File.BaseFileName }}
    {{ $size := "1280" }}
    {{ if ( index .Params.sizes "1920" ) }}
      {{ $size = "1920" }}
    {{ end }}
    <link rel="prefetch" href="{{ $baseAssetUrl }}~{{ $size }}.jpg">
  {{ end }}
  {{ with .NextInSection }}
    {{ $gallery := index ( split .Dir "/" ) 1 }}
    {{ $baseAssetUrl := printf "%s%s/%s" .Site.Params.assetUrl $gallery .File.BaseFileName }}
    {{ $size := "1280" }}
    {{ if ( index .Params.sizes "1920" ) }}
      {{ $size = "1920" }}
    {{ end }}
    <link rel="prefetch" href="{{ $baseAssetUrl }}~{{ $size }}.jpg">
  {{ end }}
{{ end }}

{{ define "main"}}
  {{ $gallery := index ( split .Dir "/" ) 1 }}
  {{ $baseAssetUrl := printf "%s%s/%s" .Site.Params.assetUrl $gallery .File.BaseFileName }}
  {{ $size := "1280" }}
  {{ if ( index .Params.sizes "1920" ) }}
    {{ $size = "1920" }}
  {{ end }}
  <div itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="hero is-fullheight-with-navbar" style="background:rgba(0, 0, 0, 0) url('{{ $baseAssetUrl }}~{{ $size }}.jpg') repeat scroll center center / cover">
      {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" aria-label="Previous" style="background-color:rgba(255,255,255,0.1);backdrop-filter:blur(3px) invert(10%);border-bottom-right-radius:3px;border-top-right-radius:3px;color:#f0f0f0;display:block;font-size:2em;padding:0.2em;position:absolute;left:-5px;top:50%;"><span class="icon is-large"><i class="fa fa-chevron-left fa-fw"></i></span></a>
      {{ end }}
      {{ with .NextInSection }}
        <a href="{{ .Permalink }}" aria-label="Next" style="background-color:rgba(255,255,255,0.1);backdrop-filter:blur(3px) invert(10%);border-bottom-left-radius:3px;border-top-left-radius:3px;color:#f0f0f0;display:block;font-size:2em;padding:0.2em;position:absolute;right:-5px;top:50%;"><span class="icon is-large"><i class="fa fa-chevron-right fa-fw"></i></span></a>
      {{ end }}
    </section>
    {{ partial "hero" . }}
    <div class="container">
      {{ with .Content }}
        <section class="section blog">
          <div class="content blog-post">
            {{ . }}
          </div>
        </section>
        <hr class="is-marginless">
      {{ end }}

      <section class="section">
        <div class="has-text-centered">
          <a href="{{ $baseAssetUrl }}~{{ $size }}.jpg"><img src="{{ $baseAssetUrl }}~{{ $size }}.jpg" title="{{ .Title }}"></a>
        </div>
        <div class="section">
          <div class="box">
            {{ partial "properties/all" . }}
            {{ with .Params.sizes }}
              <div class="field is-grouped is-grouped-multiline">
                {{ range $key, $size := . }}
                  <a class="control" href="{{ $baseAssetUrl }}~{{ $key }}.jpg">
                    <div class="tags has-addons">
                      <span class="tag is-success is-light" title="Export"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                      <span class="tag is-success is-light">{{ $size.width }}x{{ $size.height }}</span>
                    </div>
                  </a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      </section>
    </div>
  </div>
{{ end }}
