{{ define "mainEntity" }}
  <section class="section">
    {{ with get .mainEntity "itemListElement" }}
      <div class="columns is-multiline">
        {{ range . }}
          <div class="column is-one-quarter-desktop is-half-tablet">
            <a href="{{ link . }}">
              <div class="card">
                {{ with default ( getFirst . "associatedMedia" ) ( getFirst . "image" "associatedMedia" ) }}
                  <div class="card-image">
                    <figure class="image is-2by2">
                      <img src="{{ range get . "thumbnail" }}{{ if and ( eq 200 ( getFirstScalar . "height" ) ) ( eq 200 ( getFirstScalar . "width" ) )}}{{ url ( getFirstScalar . "contentUrl" ) }}{{ end }}{{ end }}" title="{{ default ( getFirstScalar . "associatedMedia" "caption" ) ( getFirstScalar . "name" ) }}">
                    </figure>
                  </div>
                {{ end }}
                {{ with getFirstScalar . "name" }}
                  <div class="card-content has-text-centered">
                    {{ . }}
                  </div>
                {{ end }}
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    {{ else }}
      <p class="has-text-grey"><em>No items are currently available.</em></p>
    {{ end }}
  </section>
{{ end }}
