{{ define "main" }}
  {{ partial "section-header" . }}
  <div class="max-w-3xl mx-auto divide-y">
    {{ partial "section-content" . }}
    <section>
      <div class="m-4 md:m-6">
        <div class="max-w-none prose">
          <p>I enjoy experimenting with ideas and, occasionally, I write more of the story in <a href="{{ relURL "/post" }}">posts</a>. Check out a few of my recent posts to see what I have been up to lately:</p>
        </div>
        <ol class="-mb-2 md:-mb-3 mt-2 md:mt-3 mx-1 md:mx-3">
          {{ range first 3 ( where .Site.Pages "Type" "eq" "post" ).ByDate.Reverse }}
            <li>
              <a class="block p-3 group rounded transition ease-in delay-500 duration-300 hover:bg-gray-100" href="{{ .Permalink }}">
                {{ .Render "render-list-line" }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    </section>
    <section>
      <div class="m-4 md:m-6">
        <div class="max-w-none prose">
          <p>Sometimes those experiments evolve and grow into larger <a href="{{ relURL "/project" }}">projects</a> that are easier to demonstrate, use, and share with others. These days, a couple of my favorites are:</p>
        </div>
        <ol class="-mb-2 md:-mb-3 mt-2 md:mt-3 mx-1 md:mx-3">
          {{ range ( where ( where .Site.Pages "Type" "eq" "project" ) ".Params.tags" "intersect" ( slice "featured" ) ).ByTitle }}
            <li>
              <a class="block p-3 group rounded transition ease-in delay-500 duration-300 hover:bg-gray-100" href="{{ .Permalink }}">
                {{ .Render "render-list-line" }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    </section>
    <section>
      <div class="m-4 md:m-6">
        <div class="max-w-none prose">
          <p>When I am not in front of a screen, I enjoy traveling to new places and finding new, interesting sights. Some <a href="{{ relURL "/photo" }}">photos</a> end up published here with the latest ones being:</p>
        </div>
        <ol class="-mb-2 md:-mb-3 mt-2 md:mt-3 mx-1 md:mx-3">
          {{ range first 2 ( where ( where .Site.Pages "Type" "eq" "photo" ) "Kind" "eq" "section" ).ByDate.Reverse }}
          <li>
              <a class="block p-3 group rounded transition ease-in delay-500 duration-300 hover:bg-gray-100" href="{{ .Permalink }}">
                {{ .Render "render-list-line" }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    </section>
    <section>
      <div class="m-4 md:m-6">
        <div class="max-w-none prose">
          <p>I am a software engineer at heart with a broad range of experiences &ndash; from JavaScript to Go development; from application to database management; from greenfield to maintenance projects; from family to corporate business. I have a particular appreciation for open-source and ideas which help users (whether developer or customer) accomplish their technical objectives in a more efficient and understandable way.</p>
        </div>
        <ol class="-mb-2 md:-mb-3 mt-2 md:mt-3 mx-1 md:mx-3">
          {{ range ( where .Site.Pages "File.Path" "eq" "cv/_index.md" ) }}
            <li>
              <a class="block p-3 group rounded transition ease-in delay-500 duration-300 hover:bg-gray-100" href="{{ .Permalink }}">
                {{ .Render "render-list-line" }}
              </a>
            </li>
          {{ end }}
        </ol>
      </div>
    </section>
    {{ partial "section-footer" . }}
  </div>
{{ end }}
