---
title: Blog Summary
layout: default
---

{% for post in site.posts %}
    <section>
        <header>
            <div class="timeline">
                <time datetime="{{ post.date|date_to_xmlschema }}"><strong>{{ post.date|date:"%b %d"|upcase }}</strong><br />{{ post.date|date:"%Y" }}</time>
            </div>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {% if post.description %}
                <div class="meta" style="margin-bottom:0;margin-top:0;">{{ post.description }}</div>
            {% endif %}
        </header>
    </section>
{% endfor %}
