{{ define "main" }}
  {{ with .Params.hero_img }}
    <div>
      <img class="object-cover h-32 w-full" src="{{ partial "imgpro.html" ( dict "." $ "src" . "op" "crop" "width" "1280" "height" "256" ) }}">
    </div>
  {{ end }}
  <div class="p-6 border-b border-gray-200">
    <div class="text-3xl">{{ .Title }}</div>
    {{ with .Params.description }}
      <div class="text-gray-600">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ with .Content }}
    <div class="p-6">
      <div class="prose">
        {{ . }}
      </div>
    </div>
  {{ end }}
{{ end }}
