{{ $rfc3339 := "2006-01-02T15:04:05Z07:00" }}
{{ if .Params.date_start }}
  {{ $endYear := dateFormat "2006" .Date }}
  {{ $endMonth := dateFormat "January" .Date }}
  {{ $endDay := dateFormat "2" .Date }}

  {{ $startYear := dateFormat "2006" .Params.date_start }}
  {{ $startMonth := dateFormat "January" .Params.date_start }}
  {{ $startDay := dateFormat "2" .Params.date_start }}

  {{ if eq $startYear $endYear }}
    {{ if eq $startMonth $endMonth }}
      {{ if eq $startDay $endDay }}
        <time datetime="{{ dateFormat $rfc3339 .Params.date_start }}" title="{{ dateFormat $rfc3339 .Params.date_start }}">{{ $startMonth }} {{ $startDay }}, {{ $startYear }}</time>
      {{ else }}
        <time datetime="{{ dateFormat $rfc3339 .Params.date_start }}" title="{{ dateFormat $rfc3339 .Params.date_start }}">{{ $startMonth }} {{ $startDay }}</time>
        &ndash;
        <time datetime="{{ dateFormat $rfc3339 .Date }}" title="{{ dateFormat $rfc3339 .Date }}">{{ $endDay }}, {{ $startYear }}</time>
      {{ end }}
    {{ else }}
      <time datetime="{{ dateFormat $rfc3339 .Params.date_start }}" title="{{ dateFormat $rfc3339 .Params.date_start }}">{{ $startMonth }} {{ $startDay }}</time>
      &ndash;
      <time datetime="{{ dateFormat $rfc3339 .Date }}" title="{{ dateFormat $rfc3339 .Date }}">{{ $endMonth }} {{ $endDay }}, {{ $endYear }}</time>
    {{ end }}
  {{ else }}
    <time datetime="{{ dateFormat $rfc3339 .Params.date_start }}" title="{{ dateFormat $rfc3339 .Params.date_start }}">{{ $startMonth }} {{ $startDay }}, {{ $startYear }}</time>
    &ndash;
    <time datetime="{{ dateFormat $rfc3339 .Date }}" title="{{ dateFormat $rfc3339 .Date }}">{{ $endMonth }} {{ $endDay }}, {{ $endYear }}</time>
  {{ end }}
{{ else }}
  <time datetime="{{ dateFormat $rfc3339 .Date }}" title="{{ dateFormat $rfc3339 .Date }}">{{ dateFormat "January 2, 2006" .Date }}</time>
{{ end }}
