{{ if gt .Paginator.TotalPages 1 }}
  <div class="mt-3 md:mt-5">
    <div class="grid grid-cols-3 text-sm text-gray-500">
      <div>
        {{ with .Paginator.Prev }}
          <a class="block p-3 sm:p-5 hover:text-gray-800 focus:text-gray-900 transition duration-200" href="{{ .URL }}">
            <svg class="inline h-4 w-4 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
            Previous
          </a>
        {{ end }}
      </div>
      <div>
        <div class="p-3 sm:p-5 text-center">
          Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
        </div>
      </div>
      <div>
        {{ with .Paginator.Next }}
          <a class="block p-3 sm:p-5 hover:text-gray-800 focus:text-gray-900 text-right transition duration-200" href="{{ .URL }}">
            Next Page
            <svg class="inline h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
          </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}