<header class="max-w-3xl mx-auto">
  <div class="m-4 md:m-6">
    <div class="flex">
      <a class="flex-none" href="{{ relURL "/" }}">
        <img class="h-12 w-12 border p-0.5 rounded-sm hover:border-yellow-600" alt="Photo of Danny Berger" src="/images/dpb587-20191216a~256.jpg" />
      </a>
      <div class="flex-grow ml-3 pt-0.5">
        <div class="text-lg leading-6 text-gray-900 font-bold">{{ .Title }}</div>
        <div class="text-sm leading-5 text-gray-600">
          {{ with .Params.byline }}
            {{ . }}
          {{ else }}
            {{ $divider := "" }}
            {{ if eq .Kind "page" }}
              {{ if ne .Title ( .Type | humanize ) }}
                <a class="hover:text-yellow-600 hover:underline" href="{{ .Parent.Permalink }}">{{ .Type | humanize }}</a>
                {{ $divider = "|" }}
              {{ end }}
            {{ else if eq .Kind "section" }}
              {{ if ne .Title ( .Type | pluralize | humanize ) }}
                <a class="hover:text-yellow-600 hover:underline" href="{{ .Parent.Permalink }}">{{ .Type | pluralize | humanize }}</a>
                {{ $divider = "|" }}
              {{ end }}
            {{ else if eq .Kind "taxonomy" }}
              <a class="hover:text-yellow-600 hover:underline" href="{{ relURL .Type }}">{{ .Type | singularize | humanize }}</a>
              {{ $divider = "|" }}
            {{ end }}
            {{ if and .Date ( ne .Kind "taxonomyTerm" ) }}
              {{ $divider }}
              {{ partial "format-date" . }}
            {{ else if .Params.description }}
              {{ $divider }}
              {{ .Params.description }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</header>
