<footer class="max-w-3xl mx-auto border-t">
  <div class="m-4 md:m-6 text-sm text-center text-gray-400 leading-5">
    <div>
      <a class="hover:text-yellow-600 hover:underline" href="/">home</a>
      | <a class="hover:text-yellow-600 hover:underline" href="https://github.com/dpb587">github</a>
      | <a class="hover:text-yellow-600 hover:underline" href="https://twitter.com/dpb587">twitter</a>
      | <a class="hover:text-yellow-600 hover:underline" href="https://www.linkedin.com/in/dpb587/">linkedin</a>
    </div>
    <div>
      <a class="hover:text-yellow-600 hover:underline" href="https://github.com/dpb587/dpb587.me/blob/master/LICENSE">copyright mmxxi</a>
      &ndash; a <a class="hover:text-yellow-600 hover:underline" href="/">personal</a>, <a class="hover:text-yellow-600 hover:underline" href="{{ $.Site.Params.github_repo }}{{ with .File }}/blob/master/content/{{ .Path }}{{ end }}">open-source site</a>
    </div>
  </div>
</footer>
