{{ define "main" }}
  <div class="columns is-fullheight">
    <div class="column">
      <section class="hero is-primary has-text-centered">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              tag#{{ .Title | urlize }}
            </h1>
            {{ if .Description }}
              <h2 class="subtitle">{{ .Description }}</h2>
            {{ end }}
          </div>
        </div>
      </section>

      <div class="container">
        {{ partial "by-year" . }}
      </div>
      {{ partial "pagination" }}
    </div>
  </div>
{{ end }}

