{{ define "main" }}
  {{ partial "hero" . }}
  <div class="container">
    {{ with .Content }}
      <section class="section blog">
        <div class="content blog-post">
          {{ . }}
        </div>
      </section>
      <hr class="is-marginless">
    {{ end }}
    <section class="section">
      {{ range first 7 ( union ( union ( where ( where .Site.Pages "Type" "eq" "post" ) "Kind" "eq" "page" ) ( where ( where .Site.Pages "Type" "eq" "tweet" ) "Kind" "eq" "page" ) ) ( where ( where .Site.Pages "Type" "eq" "photo" ) "Kind" "eq" "section" ) ).ByDate.Reverse }}
        {{ .Render "result-item" }}
      {{ end }}
    </section>
  </div>
{{ end }}
