{{ if and .Site.Params.enableComments ( ne .Params.enableComments false ) }}
  <div>
    <div id="commento"></div>
    <script>
      (function() {
        var id = {{ .RelPermalink }}.replace('\\"', '"');
        {{ if gt .Page.Date "2018-11-01" }}
          id = id.replace(/^\/post\//, '/blog/').replace(/\/$/, '.html');
        {{ end }}

        var d = document, s = d.createElement('script');
        s.src = 'https://cdn.commento.io/js/commento.js';
        s.setAttribute('data-page-id', id);
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      <div class="message is-warning">
        <div class="message-body">
          To view the reader comments for this page (powered by <a href="https://commento.io/">Commento</a>), please enable JavaScript.
        </div>
      </div>
    </noscript>
  </div>
{{ end }}
