<section class="hero is-primary has-text-centered{{ with .Params.hero_class }} {{ . }}{{ end }}">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Description }}
        <h2 class="subtitle">{{ . }}</h2>
      {{ else }}
        {{ if .Date }}
          <h2 class="subtitle">
            {{ dateFormat "January 2, 2006" .Date }}
            {{ if .Params.date_end }} &ndash; {{ dateFormat "January 2, 2006" .Params.date_end }}{{ end }}
          </h2>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
