{{ $heroThumbnail := .Params.hero_thumbnail }}
{{ if and ( not $heroThumbnail ) ( eq .Type "photo" ) }}
  {{ $photoPage := . }}

  {{ if and ( eq .Kind "section" ) $photoPage.Params.highlight_photo }}
    {{ $photoPage = .GetPage ( printf "photo/%s/%s.md" ( index ( split $photoPage.Dir "/" ) 1 ) $photoPage.Params.highlight_photo ) }}
  {{ end }}

  {{ if $photoPage.Params.sizes }}
    {{ $size := "200x200" }}
    {{ if ( index $photoPage.Params.sizes "420x420" ) }}
      {{ $size = "420x420" }}
    {{ end }}
    {{ $heroThumbnail = printf "%s%s/%s~%s.jpg" .Site.Params.assetUrl ( index ( split $photoPage.Dir "/" ) 1 ) $photoPage.File.BaseFileName $size }}
  {{ end }}
{{ end }}

<section class="hero is-primary{{ with .Params.hero_class }} {{ . }}{{ end }}">
  <div class="hero-body">
    <div class="container">
      {{ if $heroThumbnail }}
        <figure class="is-pulled-left image is-64x64 is-hidden-touch">
          <img src="{{ $heroThumbnail }}">
        </figure>
      {{ end }}

      <h1 class="title">{{ .Title }}</h1>
      {{ with .Description }}
        <h2 class="subtitle">{{ . }}</h2>
      {{ else }}
        {{ if .Date }}
          <h2 class="subtitle">
            {{ with .Params.date_start }}
              {{ dateFormat "January 2, 2006" . }}
              &ndash;
            {{ end }}
            {{ dateFormat "January 2, 2006" .Date }}
          </h2>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
