{{ define "mainEntity" }}
  <section class="section blog">
    <div class="has-text-centered">
      <img src="{{ range get .mainEntity "associatedMedia" "thumbnail" }}{{ if eq 640 ( getFirstScalar . "width" ) }}{{ url ( getFirstScalar . "contentUrl" ) }}{{ end }}{{ end }}" title="{{ default ( getFirstScalar .mainEntity "associatedMedia" "caption" ) ( getFirstScalar .mainEntity "name" ) }}">
    </div>

    {{ with getFirstScalar .mainEntity "description" }}
      <div class="content blog-post" itemprop="articleBody">
        {{ markdownify . }}
      </div>
    {{ end }}

    <hr>

    <p class="has-text-grey has-text-centered">
      {{ with default ( getFirstScalar .mainEntity "dateCreated" ) ( getFirstScalar .mainEntity "associatedMedia" "dateCreated" ) }}
        {{ dateFormat . "Monday, January _2, 2006" }}
      {{ end }}
      <br>

      <small>
        {{ with get .mainEntity "associatedMedia" "exifData" }}
          {{ with filterFirst . ( traverseContainingAttributeValue "identifier" "make" ) }}
            {{ getFirstScalar . "value" }}
          {{ end }}

          {{ with filterFirst . ( traverseContainingAttributeValue "identifier" "model" ) }}
            {{ getFirstScalar . "value" }}
          {{ end }}

          {{ with filterFirst . ( traverseContainingAttributeValue "identifier" "aperture" ) }}
            {{ getFirstScalar . "value" }}
          {{ end }}

          {{ with filterFirst . ( traverseContainingAttributeValue "identifier" "exposure" ) }}
            {{ getFirstScalar . "value" }}
          {{ end }}

          &mdash;
        {{ end }}

        {{ range get .mainEntity "associatedMedia" "thumbnail" }}
          <a href="{{ url ( getFirstScalar . "contentUrl" ) }}">{{ getFirstScalar . "width" }}x{{ getFirstScalar . "height" }}</a>
        {{ end }}
      </small>
    </p>
  </section>
{{ end }}
