{{ define "main"}}
  <div>
    {{ $heroImg := default "https://dpb587-website-us-east-1.s3.amazonaws.com/asset/gallery/2014-colorado-aspens/9e9e818-valley-of-aspens~1280.jpg" .Params.hero_img }}
    <img class="object-cover h-32 w-full" src="{{ $heroImg }}">
  </div>
  <div class="p-6 border-b border-gray-200">
    <div class="text-3xl">{{ .Title }}</div>
    <div class="text-gray-600">
      <span class="pr-3">
        <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>
        {{ dateFormat "January 2, 2006" .Date }}
      </span>
      {{ with .Params.event }}
        <span class="pr-3">
          <i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>
          <a class="hover:text-blue-600" href="#">{{ .name }}</a>
        </span>
      {{ end }}
    </div>
  </div>
  {{ with .Content }}
    <div class="p-6">
      <div class="prose">
        {{ . }}
      </div>
    </div>
  {{ end }}

  <section class="mt-6">
    <div class="px-6 py-3">
      {{ with .Params.slideshow_source }}
        <div class="float-right pt-1 px-1">
          <a href="{{ . }}">
            <button class="bg-white hover:bg-blue-600 text-gray-700 hover:text-white py-1 px-2 border border-gray-200 hover:border-transparent rounded text-sm">
              <span class="mr-2"><i class="fa fa-external-link" aria-hidden="true"></i></span>
              <span>Original</span>
            </button>
          </a>
        </div>
      {{ end }}
      <div class="text-xl">Slideshow</div>
    </div>

    {{ with .Params.slideshow_embed }}
      <div class="relative w-full overflow-hidden" style="padding-top:59.125%">
        <iframe class="absolute w-full h-full top-0 left-0" src="{{ . }}" frameborder="0" width="100%" height="720" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    {{ end }}
  </section>
{{ end }}
