{{ define "output" }}
  {{ with getFirst .mainEntity -}}
    <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
      <channel>
        <link>{{ abslink "https://dpb587.github.io/dpb587.me/content/pages/home.md" }}</link>
        <title>{{ getFirstScalar . "name" }}</title>
        <description>{{ getFirstScalar . "description" }}</description>
        <generator>{{ $.Frontend.Generator }}</generator>
        {{ range get . "inLanguage"  }}
          <language>{{ . }}</language>
        {{ end }}
        {{ range get . "editor" }}
          {{ $email := getFirstScalar . "email" }}
          {{ if $email }}
            <managingEditor>{{ $email }}{{ with getFirstScalar . "name" }} ({{ . }}){{ end }}</managingEditor>
          {{ end }}
        {{ end }}
        {{ range get . "author" }}
          {{ $email := getFirstScalar . "email" }}
          {{ if $email }}
            <webMaster>{{ $email }}{{ with getFirstScalar . "name" }} ({{ . }}){{ end }}</webMaster>
          {{ end }}
        {{ end }}
        {{ with getFirstScalar . "https://dpb587.me/copyright" }}
          <copyright>{{ . }}</copyright>
        {{ end }}
        <lastBuildDate>{{ now.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</lastBuildDate>
        <atom:link href="{{ abslink "https://dpb587.github.io/dpb587.me/content/pages/postsfeed.md" }}" type="application/rss+xml" />
        {{ range get . "items" }}
          {{ range get . "itemListElement" }}
            <item>
              {{ with default ( getFirstScalar . "headline" ) ( getFirstScalar . "name" ) }}
                <title>{{ . }}</title>
              {{ end }}
              <link>{{ abslink . }}</link>
              {{ with getFirstScalar . "datePublished" }}
                <pubDate>{{  dateFormat . "Mon, 02 Jan 2006 15:04:05 -0700" }}</pubDate>
              {{ end }}
              {{ range get . "author" }}
                {{ $email := getFirstScalar . "email" }}
                {{ if $email }}
                  <author>{{ $email }}{{ with getFirstScalar . "name" }} ({{ . }}){{ end }}</author>
                {{ end }}
              {{ end }}
              <guid>{{ abslink . }}</guid>
              {{ with getFirstScalar . "articleBody" }}
                <description>{{ . | markdownify | sanitizeHTML }}</description>
              {{ end }}
            </item>
          {{ end }}
        {{ end }}
      </channel>
    </rss>
  {{ end }}
{{ end }}
