<header class="bg-stone-50">
	<div class="max-w-4xl mx-auto pt-24 pb-16 px-8">
		<h1 class="text-center text-stone-800 font-serif font-semibold text-2xl md:text-3xl">{{ .title }}</h1>
		{{ if .subtitles }}
			<div class="mt-1.5 text-center text-stone-600 text-sm md:text-base font-serif">
				{{ range $idx, $v := .subtitles }}
					{{ if $idx }}&middot;{{ end }}
					{{ if $v.href }}
						<a class="hover:underline hover:text-stone-900" href="{{ $v.href }}">{{ $v.text }}</a>
					{{ else }}
						<span>{{ $v.text }}</span>
					{{ end }}
				{{ end }}
			</div>
		{{ end }}
	</div>
	<div class="pb-4">
		<div class="relative z-0 group sm:mx-4 h-8">
				<div class="bg-stone-300 h-px absolute z-0 inset-x-0 top-1/2 rounded-full transition duration-100"></div>
		</div>
	</div>
</header>
