body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero.is-primary {
  background-color: #CF5406;
}

.navbar-item {
  font-weight: bold;
  text-transform: uppercase;
}

.section.blog {
  background-color: #fff;
}

.blog-post {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

.hero figure.image {
  background-color: #F0CCBB;
  border: #C84906 solid 1px;
  border-radius: 3px;
  margin: -0.95em 1.5em -2em 0;
  padding: 2px;
  position: relative;
  height: 96px;
  width: 96px;
}

.hero figure.image img {
  border-radius: 1px;
}

.blog-post img,
figure.media-left .image img,
figure.media-right .image img {
  border: #DEDEDE solid 1px;
  border-radius: 2px;
  display: block;
  padding: 2px;
  margin: 0 auto;
}
