{% include header.html %}
<section itemscope itemtype="http://schema.org/Photograph">
    <header>
        <div class="timeline">
            {% if page.date %}
                <time datetime="{{ page.date|date_to_xmlschema }}" title="{{ page.date|date_to_xmlschema }}"><strong>{{ page.date|date:"%b %d"|upcase }}</strong><br />{{ page.date|date:"%Y" }}</time>
            {% endif %}
            {% if page.location %}
                <a href="https://maps.google.com/maps?hl=en&amp;ll={{ page.location.latitude }},{{ page.location.longitude }}&amp;t=w&amp;z=12"><img alt="map" height="49" src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.location.latitude }},{{ page.location.longitude }}&amp;zoom=9&amp;size=98x98&amp;sensor=false" title="{{ page.location.title }}" width="49" /></a>
            {% endif %}
            {% if page.code %}
                <a href="{{ page.code }}"><img alt="code" height="49" src="/include/icons/code.png" width="49" /></a>
            {% endif %}
        </div>
        <ul style="margin-top:0;">
            {% if page.previous %}
                <li><a href="{{ page.previous }}.html" rel="prev">&nbsp;&laquo;&nbsp;</a></li>
            {% else %}
                <li><span class="noanchor">&nbsp;&laquo;&nbsp;</span></li>
            {% endif %}

            {% if page.next %}
                <li><a href="{{ page.next }}.html" rel="next">&nbsp;&raquo;&nbsp;</a></li>
            {% else %}
                <li><span class="noanchor">&nbsp;&raquo;&nbsp;</span></li>
            {% endif %}
        </ul>
        <h1>
            <span itemprop="name">{{ page.title }}</span>
            {% if page.date %}
                <small class="print-only">{{ page.date|date:'%A, %B %d, %Y' }}</small>
            {% endif %}
        </h1>
    </header>
    <section class="post-content">
        {% assign maxsize = 0 %}
        {% assign maxref = false %}
        {% for size in page.sizes %}
            {% if maxsize < size[1].height * size[1].width %}
                {% assign maxsize = size[1].height * size[1].width %}
                {% assign maxref = size %}
            {% endif %}
        {% endfor %}
        <p style="text-align:center;">
            <a href="{{ site.asset_prefix }}{{ page.url|replace:".html","" }}~{{ maxref[0] }}.jpg"><img alt="Photo: {{ page.title }}" src="{{ site.asset_prefix }}{{ page.url|replace:".html","~640w.jpg" }}" style="max-width:630px;" /></a>
        </p>

        {% if content %}
            <div itemprop="description">
                {{ content }}
            </div>
        {% endif %}
    </section>
    <div class="meta">
        <div class="meta-properties">
            <div style="float:left;width:352px;">
                <dl style="margin-top:0;">
                    <dt>Date</dt>
                    <dd itemprop="dateCreated" content="{{ page.date|date:'%FT%TZ' }}">{{ page.date|date:'%A, %B %d at %I:%M %p'|replace:' 0',' '|replace:' AM',' am'|replace:' PM',' pm' }}

                    <dt>Camera</dt>
                    <dd>{{ page.exif.make }} {{ page.exif.model }}

                    <dt>Aperture</dt>
                    <dd>{{ page.exif.aperture }}</dd>

                    <dt>Exposure</dt>
                    <dd>{{ page.exif.exposure }}</dd>

                    {% if page.sizes %}
                        <dt>Sizes</dt>
                        <dd>
                            {% for size in page.sizes %}
                                {% if 0 < forloop.index0 %}&nbsp;&middot;&nbsp;{% endif %}
                                <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                    <meta itemprop="height" content="{{ size[1].height }}" />
                                    <meta itemprop="width" content="{{ size[1].width }}" />
                                    <a href="{{ site.asset_prefix }}{{ page.url|replace:".html","" }}~{{ size[0] }}.jpg" itemprop="contentUrl">{{ size[1].width }}x{{size[1].height }}</a>
                                </span>
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>
            </div>

            {% if page.location %}
                <div style="float:left;line-height:0;margin-left:7px;width:280px;" itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                        <meta itemprop="latitude" content="{{ page.location.latitude }}" />
                        <meta itemprop="longitude" content="{{ page.location.longitude }}" />
                    </span>
                    <a href="https://maps.google.com/maps?hl=en&amp;ll={{ page.location.latitude }},{{ page.location.longitude }}&amp;t=w&amp;z=12"><img alt="map" height="173" src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.location.latitude }},{{ page.location.longitude }}&amp;zoom=13&amp;size=280x173&amp;markers=size:mid%7Ccolor:orange%7C{{ page.location.latitude }},{{ page.location.longitude }}&amp;sensor=false" title="{{ page.location.title }}" width="280" /></a>
                </div>
            {% endif %}

            <div style="clear:left;"></div>
        </div>
        <div class="meta-navigate screen-only">
            {% if page.next %}
                <div style="float:right;">
                    <a href="{{ page.next }}.html" rel="next">Next Photo &raquo;</a>
                </div>
            {% endif %}

            {% if page.previous %}
                <div style="float:left;">
                    <a href="{{ page.previous }}.html" rel="prev">&laquo; Previous</a>
                </div>
            {% endif %}

            <div style="padding:0 120px;">
                <a href="./" rel="contents">Gallery List</a>
            </div>

            <div style="clear:both;"></div>
        </div>
        <div class="meta-social screen-only">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="dpb587">Tweet</a>
            <div class="g-plusone" data-size="medium" data-width="300"></div>
        </div>
    </div>
    {% include disqus.html %}
</section>
{% include footer.html %}
