{% include header.html %}
<section>
    <header>
        <div class="timeline">
            {% if page.date %}
                <time datetime="{{ page.date|date_to_xmlschema }}" title="{{ page.date|date_to_xmlschema }}"><strong>{{ page.date|date:"%b %d"|upcase }}</strong><br />{{ page.date|date:"%Y" }}</time>
            {% endif %}
            {% if page.location %}
                <a href="https://maps.google.com/maps?hl=en&amp;ll={{ page.location.latitude }},{{ page.location.longitude }}&amp;t=w&amp;z=12"><img alt="map" height="49" src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.location.latitude }},{{ page.location.longitude }}&amp;zoom=9&amp;size=98x98&amp;sensor=false" title="{{ page.location.title }}" width="49" /></a>
            {% endif %}
            {% if page.code %}
                <a href="{{ page.code }}"><img alt="code" height="49" src="/static/{{ site.artifact_commit|truncate:10,'' }}/icon/code.png" width="49" /></a>
            {% endif %}
        </div>
        <div class="social screen-only">
            
        </div>
        <h1>
            {{ page.title }}
            <small class="print-only">{{ page.date|date:'%A, %B %d, %Y' }}</small>
        </h1>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    <div class="meta">
        <div class="meta-social screen-only">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="dpb587">Tweet</a>
            <div class="g-plusone" data-size="medium" data-width="300"></div>
        </div>
    </div>
    {% if false != page.comments %}
        {% include disqus.html %}
    {% endif %}
</section>
{% include footer.html %}
