{{ define "main" }}
  {{ if .Sections }}
    <div>
      {{ $heroImg := default "https://s3.dualstack.us-east-1.amazonaws.com/dpb587-website-us-east-1/asset/gallery/2014-colorado-aspens/9e9e818-valley-of-aspens~1280.jpg" .Params.hero_img }}
      <img class="object-cover h-32 w-full" src="{{ .Params.hero_img }}">
    </div>
    <div class="p-3 md:p-6 border-b border-gray-200">
      <div class="text-2xl md:text-3xl">{{ .Title }}</div>
      {{ with .Params.description }}
        <div class="text-gray-600">
          {{ . }}
        </div>
      {{ end }}
    </div>
    {{ with .Content }}
      <div class="p-3 md:p-6">
        <div class="prose">
          {{ . }}
        </div>
      </div>
    {{ end }}

    <div>
      {{ $paginator := .Paginate .Sections }}
      {{ range $paginator.Pages }}
        {{ .Render "result-item" }}
      {{ end }}
      {{ partial "pagination" . }}
    </div>
  {{ else }}
    {{ $heroImg := .Params.hero_thumbnail }}
    {{ if and ( not $heroImg ) ( eq .Type "photo" ) }}
      {{ $photoPage := . }}

      {{ if and ( eq .Kind "section" ) $photoPage.Params.highlight_photo }}
        {{ $photoPage = .GetPage ( printf "photo/%s/%s.md" ( index ( split $photoPage.Dir "/" ) 1 ) $photoPage.Params.highlight_photo ) }}
      {{ end }}

      {{ with $photoPage.Params.image.url }}
        {{ $heroImg = . }}
      {{ end }}
    {{ end }}

    {{ if $heroImg }}
      <div>
        <img class="object-cover h-32 w-full" src="{{ partial "imgpro.html" ( dict "." . "src" $heroImg "op" "smartcrop" "width" "1280" "height" "256" ) }}">
      </div>
    {{ end }}

    <div class="p-3 md:p-6 border-b border-gray-200">
      <div class="text-2xl md:text-3xl">{{ .Title }}</div>
      <div class="text-gray-600">
        <span class="pr-3">
          <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>
          {{ partial "date" . }}
        </span>
        {{ with .Params.tags }}
          <span class="pr-2">
            <i class="fa fa-tag fa-fw" aria-hidden="true"></i>
            {{ range . }}
              <a class="hover:text-blue-600" href="#">{{ . }}</a>
            {{ end }}
          </span>
        {{ end }}
      </div>
    </div>
    {{ with .Content }}
      <div class="p-3 md:p-6">
        <div class="prose">
          {{ . }}
        </div>
      </div>
    {{ end }}

    <div>
      <div class="flex flex-wrap justify-around p-1 pt-0">
        {{ $paginator := .Paginate .RegularPages.Reverse }}
        {{ range $paginator.Pages }}
          <div class="w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6 p-1">
            <a href="{{ .URL }}">
              <img height="200" src="{{ partial "imgpro.html" ( dict "." . "src" .Params.image.url "op" "smartcrop" "width" "200" "height" "200" ) }}" alt="{{ .Title }}" width="200">
            </a>
          </div>
        {{ end }}
      </div>
      <div class="mb-2">
        {{ partial "pagination" . }}
      </div>
    </div>
  {{ end }}
{{ end }}
