{{ define "main"}}
  {{ $heroThumbnail := .Params.hero_thumbnail }}
  {{ if and ( not $heroThumbnail ) ( eq .Type "photo" ) }}
    {{ $photoPage := . }}

    {{ if and ( eq .Kind "section" ) $photoPage.Params.highlight_photo }}
      {{ $photoPage = .GetPage ( printf "photo/%s/%s.md" ( index ( split $photoPage.Dir "/" ) 1 ) $photoPage.Params.highlight_photo ) }}
    {{ end }}

    {{ if $photoPage.Params.sizes }}
      {{ $size := "1280" }}
      {{ $heroThumbnail = printf "%s%s/%s~%s.jpg" .Site.Params.assetUrl ( index ( split $photoPage.Dir "/" ) 1 ) $photoPage.File.BaseFileName $size }}
    {{ end }}
  {{ end }}

  {{ .Render "single-microdata" }}

  <div>
    <img class="object-cover w-full" src="{{ $heroThumbnail }}">
  </div>

  <div class="p-3 md:p-6">
    <div class="pb-3 md:pb-6">
      <div class="text-3xl">{{ .Title }}</div>
      <div class="text-gray-600">
        <span class="pr-3">
          <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i>
          {{ dateFormat "January 2, 2006" .Date }}
        </span>
        {{ with .Params.tags }}
          <span class="pr-3">
            <i class="fa fa-tag fa-fw" aria-hidden="true"></i>
            {{ range . }}
              <a class="hover:text-blue-600" href="#">{{ . }}</a>
            {{ end }}
          </span>
        {{ end }}
        {{ with .Params.exif }}
          <span class="pr-3">
            <i class="fa fa-camera fa-fw" aria-hidden="true"></i>
            {{ with .make }}{{ . }}{{ end }}
            {{ with .model }}{{ . }}{{ end }}
            {{ with .aperture }}{{ . }}{{ end }}
            {{ with .exposure }}{{ . }}{{ end }}
          </span>
        {{ end }}
      </div>
    </div>
    {{ with .Content }}
      <div class="prose">
        {{ . }}
      </div>
    {{ end }}
  </div>
{{ end }}