.print-only {
    display: block;
}

span.print-only {
    display: inline;
}

body.layout-default {
    margin: 0;
}

body.layout-content,
body.layout-post {
    font-size: 12px;
    margin: 0;
}

body > footer {
    padding-bottom: 0;
}

body > header, article > section {
    width: auto;
}

body > header {
    margin-bottom: 0;
    margin-left: 24px;
    padding-bottom: 12px;
    padding-top: 6px;
}

body.layout-content article > section,
body.layout-post article > section {
    border-left: 0;
    margin: 0 12px;
    padding-left: 0;
    padding-right: 0;
}

body.layout-default article > section {
    margin-left: 25px;
}

body.layout-post section header .timeline {
    display: none;
}

.screen-only {
    display: none !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p, ul, ol, dl {
    line-height: 18px;
    margin: 7px 0;
}

div.site-title {
    margin-top: 6px;
}

h2 {
    margin-top: 24px;
}
