body {
    color: #333333;
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin: 2px 10px 10px 44px;
}

body > header, article > section {
    border-bottom: #F0F0F0 solid 1px;
    border-left: #E9E9E9 solid 1px;
    margin-bottom: 2px;
    padding: 24px 34px;
    position: relative;
    width: 640px;
}

body.layout-gallery-photo > header {
    display: none;
}

body.layout-gallery-photo article > section {
    padding-top: 14px;
}

body > footer {
    color: #999999;
    font-size: 11px;
    font-weight: 400;
    padding: 36px 6px 28px 36px;
    position: relative;
    width: 668px;
}

    body > footer a {
        color: #999999;
    }

    body > footer:hover {
        color: #666666;
    }

        body > footer:hover a {
            color: #666666;
        }

body.no-footer > footer {
    display: none;
}

body > header {
    padding-right: 20px;
    width: 654px;
}

body > header .meta {
    margin-bottom: 0;
    margin-top: 0;
}

header ul {
    float: right;
    list-style: none;
    margin: 7px 0 0;
}

header ul li {
    display: inline-block;
}

header ul li a {
    border-radius: 2px;
    color: #CF5406;
    display: block;
    margin-left: 6px;
    padding: 1px 5px 2px 5px;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #CF5406;
    color: #FFFFFF;
}

header ul li .noanchor {
    color: #CCCCCC;
    display: block;
    margin-left: 6px;
    padding: 1px 5px 2px 5px;
}

.meta {
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    padding-left: 1px;
    margin-bottom: 12px;
    margin-top: 24px;
}

    .meta a {
        text-decoration: none;
    }

    .meta a:hover {
        text-decoration: underline;
    }

a {
    color: #CF5406;
}

small {
    color: #666666;
}

div.site-title {
    font-size: 20px;
    font-weight: 400;
    margin: 4px 0 0;
}

    div.site-title strong {
        font-weight: 700;
    }

        div.site-title strong a {
            color: inherit;
            text-decoration: none;
        }

    div.site-title small {
        color: #999999;
    }

h1 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 1px 0;
}

h1 small {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

h2 {
    border-bottom: #DEDEDE solid 1px;
    color: #393939;
    font-size: 17px;
    margin: 32px -4px 10px;
    padding: 0 4px 2px;
}

h3 {
    border-bottom: #DEDEDE dotted 1px;
    font-size: 14px;
    margin: 22px -4px 10px;
    padding: 0 4px;
}

hr {
    margin: 0 -4px;
}

article > section .timeline {
    margin-top: 4px;
}

section .timeline > * {
    display: block;
    opacity: 0.6;
    line-height: 0;
    margin-bottom: 4px;
}

    body.layout-post section .timeline > *,
    body.layout-gallery-photo section .timeline > *,
    section:hover .timeline > * {
        opacity: 1;
    }

article.layout-post section {
    padding-bottom: 12px;
}

.timeline {
    background-color: #FFFFFF;
    font-size: 11px;
    line-height: 0;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    left: -24px;
    width: 49px;
}

    .timeline img {
        border-radius: 4px;
        width: 49px;
    }

    .timeline time {
        line-height: 11px;
    }

pre {
    background-color: #F9F9F9;
    border: #D8D8D8 solid 1px;
    font-family: monaco;
    font-size: 12px;
    line-height: 17px;
    margin: 14px -2px 24px;
    max-height: 398px;
    overflow: auto;
    padding: 2px 4px;
}

pre > code {
    font-size: inherit;
    line-height: inherit;
}

code {
    font-family: monaco;
    font-size: 13px;
    line-height: 0;
}

p, ul, ol, dl {
    line-height: 24px;
    margin: 12px 0;
}

dl dt {
    clear: left;
    color: #666666;
    float: left;
    padding-top: 2px;
    text-align: right;
    width: 140px;
}

dl dd {
    margin-left: 0;
    padding: 2px 0 0 146px;
}

.meta-properties {
    border-top: #F0F0F0 solid 1px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px 8px;
}

.meta-social {
    border-top: #F0F0F0 solid 1px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 32px 6px 0;
}

.meta-navigate {
    border-top: #F0F0F0 solid 1px;
    font-size: 15px;
    font-weight: 400;
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    text-align: center;
}

.disqus {
    border-top: #F0F0F0 solid 1px;
    margin: 28px -8px 0;
    padding: 27px 8px 0;
}

article.layout-post .meta.meta-social {
    display: none;
}

section.post-content img {
    background-color: #F3F3F3;
    border: #D8D8D8 solid 1px;
    border-radius: 1px;
    padding: 4px;
}

a img {
    color: inherit;
}

.print-only {
    display: none;
}

a.subtle {
    color: inherit;
    text-decoration: inherit;
}

body.no-footer article > section {
    border-bottom: 0;
}

body.alt-printarticle > header {
    display: none;
}

body.alt-printarticle > article > section {
    padding-top: 0;
}

body.alt-printarticle > footer {
    display: none;
}

blockquote {
    border-left: #F0F0F0 solid 4px;
    border-right: #F0F0F0 solid 4px;
    margin: 14px 16px;
    padding: 1px 18px;
}

.list-gallery {
    line-height: 0;
}

    .list-gallery img {
        padding: 2px !important;
        margin: 8px 7px 0 0;
    }

    .list-gallery img:hover {
        border: #999999 solid 1px !important;
    }
