<prose:custom-start />
<figure class="border-t md:border-x md:border-b border-stone-200 overflow-hidden shadow md:rounded bg-stone-100 p-4 *:data-active:block">
    <div class="hidden relative z-0 group/0">
        <nav class="hidden group-hover/0:block absolute z-10 top-3 right-1 bg-white/20 backdrop-blur-sm rounded-sm text-lg shadow -m-px">
            <button
                class="m-px bg-white/90 flex items-center justify-center h-8 w-8 text-stone-500 font-bold rounded-xs hover:text-black hover:bg-white"
                onclick="((e) => { delete(e.dataset['active']); e.nextElementSibling.dataset['active'] = true })(this.parentElement.parentElement)"
            >
                {{ partial "heroicons/inline" ( dict 
                    "icon" "24/outline/arrow-uturn-left"
                    "attrs" `class="w-4 h-4"`
                ) }}
            </button>
        </nav>
        <div class="text-base font-mono -mx-1.5 -mt-1.5 pl-2 pr-4 relative z-0 rounded-xs text-neutral-200 border-y sm:border-x border-neutral-900" style="background-color:#272822">
            <div class="overflow-x-auto">
                <div class="py-3 pl-2 space-y-0.5">{{ highlight ( .Page.Resources.Get ( printf "%s/input.txt" ( .Get "dir" ) ) ).Content ( default "plain" ( .Get "lang" ) ) }}</div>
            </div>
        </div>
    </div>
    <div class="hidden relative z-0 group/0" data-active>
        <nav class="hidden group-hover/0:block absolute z-10 top-1 right-1 bg-white/20 backdrop-blur-sm rounded-sm text-lg shadow -m-px">
            <button
                class="m-px bg-white/90 flex items-center justify-center h-8 w-8 text-stone-500 font-bold rounded-xs hover:text-black hover:bg-white"
                onclick="((e) => { delete(e.dataset['active']); e.previousElementSibling.dataset['active'] = true })(this.parentElement.parentElement)"
            >
                {{ partial "heroicons/inline" ( dict 
                    "icon" "24/outline/code-bracket"
                    "attrs" `class="w-4 h-4"`
                ) }}
            </button>
        </nav>

        {{ $png := .Page.Resources.GetMatch ( printf `%s/output.png` ( .Get `dir`) ) }}
        {{ with .Page.Resources.GetMatch ( printf `%s/output.svg` ( .Get `dir`) ) }}
            <object
                class="max-w-full h-auto mx-auto"
                data="{{ .RelPermalink }}"
                type="image/svg+xml"
            >
                <img
                    class="max-w-full h-auto mx-auto"
                    src="{{ $png.RelPermalink }}"
                    alt="{{ $.Get `caption` }}"
                />
            </object>
        {{ else }}
            <img
                class="max-w-full h-auto mx-auto"
                src="{{ $png.RelPermalink }}"
                alt="{{ .Get `caption` }}"
            />
        {{ end }}
    </div>

    <figcaption class="text-xs font-serif -mb-0.5 mt-3.5 text-stone-500">
        {{ .Get "caption" }}
    </figcaption>
</figure>
<prose:custom-end />
