<prose:custom-start />
{{- $inner := .Inner -}}
{{- $inner = strings.ReplaceRE "(?m)</prose:terminal-child>\\s*<prose:terminal-child>" "\n" $inner -}}
{{- $inner = strings.ReplaceRE "(?m)\\s*<prose:terminal-child>" "" $inner -}}
{{- $inner = strings.ReplaceRE "(?m)</prose:terminal-child>\\s*" "" $inner -}}

<div class="text-base font-mono pl-2 pr-4 relative z-0 shadow-sm md:rounded overflow-x-auto text-neutral-200 border-y sm:border-x border-neutral-900" style="background-color:#272822">
    <pre class="py-3.5 pl-2 space-y-0.5 whitespace-normal">
        {{- $inner | safeHTML -}}
    </pre>
</div>
<prose:custom-end />
