{{ $prompt := .Get "prompt" | default "$ " -}}
{{ $promptNewLine := printf "\n%s" ( strings.Repeat ( len $prompt ) " " ) -}}

{{ $contentLang := index ( index ( strings.FindRESubmatch "(?m)^.*```(\\w*).*$" .Inner ) 0 ) 1 | default "bash" -}}
{{ $indent := index ( index ( strings.FindRESubmatch "(?m)^([ \\t]*)```" .Inner ) 0 ) 1 -}}
{{ $content := strings.ReplaceRE "(?ms)^.*```[^\\n]*(\\n.*)\\s*```\\s*" "$1" .Inner -}}
{{ $content := strings.ReplaceRE ( printf "\n%s" $indent ) "\n" $content -}}
{{ $content := strings.TrimSpace $content -}}

<prose:terminal-child><div class="flex items-start group whitespace-pre">{{/*
	*/}}<code class="flex-initial text-neutral-400 select-none">{{ $prompt }}</code>{{/*
	*/}}<code>{{ partial "prose/code-highlight" ( dict
		"content" $content
		"lang" $contentLang
	) }}</code>{{/*
*/}}</div></prose:terminal-child>
